name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - name: Deploy to production
      uses: appleboy/ssh-action@master
      with:
          username: "sialdo"
          host: "27.112.79.132"
          password: "Webgis123!"
          script: '' #cd /var/www/html/MerqataAPI && ./server_deploy.sh